	.sword-green{
		background-color: green;
	}
	.sword-orange{
		background-color: orange;
	}
	.sword-red{
		background-color: red;
	}
	.sword-100{		
		width: 100%;
	}
	.sword-90{
		width: 90%;
	}
	.sword-80{
		width: 80%;	
	}
	.sword-70{
		width: 70%;	
	}
	.sword-60{
		width: 60%;	
	}
	.sword-50{
		width: 50%;	
	}
	.sword-40{
		width: 40%;	
	}
	.sword-30{
		width: 30%;	
	}
	.sword-20{
		width: 20%;	
	}
	.sword-10{
		width: 10%;	
	}
	.sword-0{
		width: 0%;	
	}
	.sword-5{		
		width: 5%;
	}
	.sword-15{
		width: 15%;
	}
	.sword-25{
		width: 25%;	
	}
	.sword-35{
		width: 35%;	
	}
	.sword-45{
		width: 45%;	
	}
	.sword-55{
		width: 55%;	
	}
	.sword-65{
		width: 65%;	
	}
	.sword-75{
		width: 75%;	
	}
	.sword-85{
		width: 85%;	
	}
	.sword-95{
		width: 95%;	
	}
