<!DOCTYPE html>
<html>
  <head>
    <title>Taddlequest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

<<<<<<< HEAD
  <body background="background.png">
=======
  <body>
>>>>>>> e4e02d687da6e91bf171c575d97f755a52e91f0b
    <%= yield %>
  </body>
</html>
